@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .h-265 {
    height: 265px;
  }
}

@layer utilities {
  .w-265 {
    width: 265px;
  }
}

@layer utilities {
  .w-910 {
    width: calc(100% / 1.05);
  }
}

.ant-tabs-tab {
  color: #363636 !important;
}